:root {
    --primary: #63f794;
}

body,
html {
    margin: 0;
    background-color: white;
    font-family: heebo;
    overflow-x: hidden;
}

p {
    font-size: 14pt;
}

.title {
    color: var(--primary);
}

.center-text {
    text-align: center;
}

.request-button {
    font-size: 18pt;
    padding: 7.5pt 0;
    width: 100%;
    border: none;
    border-radius: 50px;
    /* Add this line to make the button round */
    background-color: #63f794;
    color: #fff;
    cursor: pointer;
}

.request-button:hover {
    background-color: #4cbd72;
}

.large-gif {
    display: block;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.large-image {
    display: block;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: absolute;
    background-color: #dcdcdc;
    width: 100vw;
}

.margin-center {
    width: 90vw;
    /* max-width: 50rem; */
    margin: auto;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

.reverse-wrap {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

.wrap-item {
    display: block;
    flex: 1 1 40vh;
}

.area-padding {
    padding: 50pt 0;
}

.height-limit {
    max-height: 90vh;
}

.text-block {
    max-width: 400pt;
    margin: auto;
}

.early-access-form {
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: auto;
    padding: 20pt;
    border: 1pt solid #ccc;
    border-radius: 10pt;
    box-shadow: 0 0 10pt rgba(0, 0, 0, 0.1);
}

.early-access-text-field {
    font-size: 14pt;
    padding: 10pt;
    border: none;
    border-radius: 50px;
    /* Add this line to make the select inputs round */
    width: 100%;
    background-color: #f0f0f0;
    padding: 10pt;
}

.early-access-form,
input {
    display: inline-block;
    margin: 7.5pt 0;
}

.vertical-align {
    padding: 10vh 0;
}