@font-face {
    src: url(fonts\Heebo-VariableFont_wght.ttf);
    font-family: Heebo;
}

body,
html {
    margin: 0;
    height: 100%;
    background-color: black;
}



header {
    position: sticky;
    top: 0;
    color: white;
    height: 30px;
}

.content {
    padding-top: 50px;
}

.reverseWrap {
    display: flex;
    flex-wrap: wrap-reverse;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    z-index: 99;
    background-color: black;
    /* Change the background color */
    position: fixed;
    /* Make it stick to the top */
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: heebo;
    color: white;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
}

/* Style for the links in the navbar */
.navbar .nav-item {
    display: block;
    color: #63F794;
    /* Change the text color */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change the color of the links when hovered */
.navbar .nav-item:hover {
    color: white;
    /* Change the text color */
}

.container {
    flex: 1;
    min-height: fit-content;
    min-width: 50vh;
    width: 50%;
    /* background-color: red; /* Change color as desired */
    /* border: 1px solid blue; */
    justify-content: center;
    vertical-align: center;
    margin-bottom: 10%;
}

h1 {
    color: white;
    font-family: Heebo;
}

h2 {
    color: #63F794;
    font-size: 34pt;
    font-family: Heebo;
}

.centerContainer {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80%;
    min-height: fit-content;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
}

#mainTitle {
    font-size: 50pt;
}

p {
    color: white;
    font-size: 18pt;
    font-family: Heebo;
}

button {
    line-height: 1;
    text-wrap: nowrap;
    background-color: #63F794;
    border: 0;
    font-family: Heebo;
    font-weight: 500;
    font-size: 16pt;
    color: white;
    height: 40pt;
    padding-left: 15pt;
    padding-right: 15pt;
    border-radius: 10px;
}

.hero_image {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100vh;
    max-height: 700px;
    width: 100%;
    object-fit: cover;
}

.gif_image_row {
    width: 50%;
    object-fit: contain;
    max-height: 80vh;
}

.gif_row {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    max-width: 80vw;
}

#parText {
    color: #63F794;
    font-family: Heebo;
    font-size: 20pt;
}

#exercise_graph {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#tagline {
    text-align: center;
    text-wrap: wrap;
    color: white;
}

.recall {
    align-content: center;
    text-align: center;
    height: 350px;
    max-width: 100vw;
}


.beta-button {
    color: white;
    background-color: #63F794;
    float: left;
    display: block;
    text-align: center;
    padding: 7px 20px;
    border-radius: 100px;
    text-decoration: none;
    margin: 7px;
}

.beta-button:hover {
    font-weight: bold;
}

#beta_access_background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.relative {
    position: relative;
}

.centered {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-text {
    font-size: 3rem;
    text-align: center;
}

.center-text-align {
    text-align: center;
}

.email-signup {
    font-family: heebo;
    background-color: white;
    border: solid;
    border-color: black;
    border-radius: 10px;
    width: 26rem;
    max-width: 80vw;
    height: 24pt;
    outline: none;
    font-size: 16pt;
}

.signup-button {
    width: 26rem;
    max-width: 80vw;
    font-size: 14pt;
    padding: 10px;
    height: auto;
    font-weight: normal;
}

.home-button {
    text-decoration: none;
    padding-left: 2%;
}

.darkened-background {
    background-color: rgba(0, 0, 0, .5);
}

.rounded-rectangle-40 {
    display: block;
    width: 40rem;
    border-radius: 30px;
}